/* media all */
.blue.button
{
    background-color:#E5B322;
}
.button 
{
    display:inline-block;
    padding: 0;
    border: none;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    width: 75px;
    height:35px;
    font-size:19px;
    font-family:Arial;
}

.button:hover{
    background-color:#47B322;
}

.auto            { cursor: auto; }

.displayNon {display: none;}

.col-md-8 {font-size:17px;}

#myForm {
    font-family:Arial;
}